@import "../../common/colors.scss";

.footer-container {
  height: 100vh;
  color: $font-primary;
  margin-top: 100px;
  text-align: center;
  button {
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }
}
