@import "../../common/colors.scss";

.footer {
  background: $secondary-color;
  color: $font-primary;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (max-width: 991px) {
  .footer {
    display: block;
    text-align: center;
  }
}
