@import "../src/common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}
html {
  min-height: 100vh;
}

body {
  background: $primary-color;
  height: 100%;
  position: relative;
}
.container {
  margin: 0 40px;
}
